<% provide(:title, "Login") %>
<h1>Login</h1>
    <%= form_for(:session, url: login_path) do |f| %>
    	<div class="mdl-textfield mdl-js-textfield">
    		<input class="mdl-textfield__input" type="text" id="sample1" />
      		<%= f.label :email %>
      		<%= f.email_field :email %>
      	</div>
      		<%= f.label :password %>
      		<%= f.password_field :password %>

      		<%= f.submit "Log in" %>

    <% end %>

    <p>Novo usuário? <%= link_to "Se cadastre!", new_user_path %></p>
