<% if @post.errors.any? %>
	<ul>
		<% @post.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>


<h2>Editar post:</h2>

<%= form_for @post do |f| %>

	<p>
		<%= f.label :title, "Título do post" %> <br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Escolha uma categoria para o post" } %>
	</p>

	<p>
		<%= f.label :content, "Escreva!" %> <br>
		<%= f.text_area :content %>
	</p>

	<p>
		<%= f.check_box :anonymous, id: "anemona" %>
		<%= f.label :anonymous, "Postar como anônimo", {:for => "anemona"} %>
	</p>

	<p>
		<%= f.submit "Atualizar post" %>
	</p>

<% end %>

<p>
	<%= link_to "Todos os posts", posts_path %>|
	<%= link_to "Novo post", new_post_path %>|
	<%= link_to "Home", root_path %>
</p>

