<% if @posts.count == 0 %>
	<h2>Não possuimos nenhum post até o momento!</h2> 
	<h4><%= link_to 'Crie um!', new_post_path %></h4>
<% else %>
	<% @posts.each do |post| %>
		<h2><%= link_to post.titulo, post_path(post) %></h2>
		<p><b><%= truncate(post.conteudo, length: 15) %></b></p>
		<p>Criado há: <b><%= time_ago_in_words(post.created_at) %></b></p>
		<hr>
		<br>
	<% end %>
<% end %>

<p>
	<%= link_to "Home", root_path %>
</p>
