<center>
	<% if @post.errors.any? %>
		<ul>
			<% @post.errors.full_messages.each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>


	<h2>Crie um post:</h2>

	<%= form_for @post do |f| %>

		<div class="mdl-textfield mdl-js-textfield mdl-cell--6-col" >
			<%= f.label :title, "Título", class:"mdl-textfield__label" %>
			<%= f.text_field :title, class:"mdl-textfield__input" %>
		</div>

		<br> <br>

		<p>
			<%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Escolha uma categoria para o post" }, class:"mdl-button mdl-js-button mdl-button--raised" %>
		</p>

		<br> <br>


		<div class="mdl-textfield mdl-js-textfield mdl-cell--6-col" >
			<%= f.label :content, "Escreva!", class:"mdl-textfield__label" %> <br>
			<%= f.text_area :content, class:"mdl-textfield__input big-textarea" %>
		</div>

		<br> <br>


		<label class="mdl-cell mdl-cell--6-col mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="anemona" >
			<%= f.check_box :anonymous, id: "anemona", class:"mdl-checkbox__input" %>
			<%= f.label "Anônimo?", {}, {class: "mdl-checkbox__label"} %>
		</label>

		<br> <br>


		<p>
			<%= f.submit "Criar post", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
		</p>

	<% end %>
</center>

