<h2>Titulo: <%= @post.title %></h2>

<br>

<h4><%= @post.content %></h4>
<hr>

<% if @post.versions.count != 0 %>
	<h4>Histórico de edições:</h4>
	<% @post.versions.each do |p| %>
		<p>Titulo: <%= p.reify.title %></p>
		<p>Conteudo: <%= p.reify.content %></p>
		<p>Edição ocorreu há: <%= time_ago_in_words(p.created_at) %></p>
		-------------------
	<% end %>
<% end %>

<p>
	<%= link_to "Todos os posts", posts_path %>|
	<%= link_to "Novo post", new_post_path %>|
	<%= link_to "Editar post", edit_post_path(@post.id) %>|
	<%= link_to 'Apagar post', post_path, :method => :delete, data: { confirm: "Tem certeza disso?" } %>|
	<%= link_to "Home", root_path %>
</p>