<% if @post.user == current_user %>
    <br>
  	  <%= link_to "Editar post", edit_post_path(@post.id), class:"mdl-button mdl-js-button" %>
  	  <%= link_to 'Apagar post', post_path, :method => :delete, data: { confirm: "Tem certeza disso?" }, class:"mdl-button mdl-js-button" %>
      <br><br>
<% end %>
<div class="mdl-card mdl-shadow--2dp" id="show-post-card">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= link_to @post.title, post_path(@post) %></h2>
  </div>
  <div class="mdl-card__supporting-text">
      <h6><b><%= @post.content %></b></h6>
  </div>
  <div class="mdl-card__actions mdl-card--border">
       <% if @post.anonymous == '1' %>
             <p><b>Autor</b>: Anônimo</p>
        <% else %>
            <p><b>Autor</b>: <%= @post.user.full_name %></p>
        <% end %>

       <p><b>Pontuação</b>: <%= @post.score %> </p>

        <% if @post.category != nil %>
            <p><b>Categoria</b>: <%= @post.category.name %></p>
        <% end %>

        <p><b>Criado há</b>: <%= time_ago_in_words(@post.created_at) %></p>
  </div>
  <div>
      <%= link_to "Gostei", like_post_path(@post), method: :put,  class:"mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
      <%= link_to "Não gostei", dislike_post_path(@post), method: :put,  class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="mdl-card__actions mdl-card--border" id="comentarios">
  	<% if @post.comments.count == 0 %>
		<h5>Não temos comentários para esse post até o momento.</h5>
	<% elsif @post.comments.count == 1 %>
		<h5>Temos um comentário:</h5>
		<%= render "comments/comment" %>
	<% else %>
		<h5>Temos <%= @post.comments.count %> comentários:</h5>
		<%= render "comments/comment" %>
	<% end %>
	<h6>Adicione um comentário!</h6>
	<%= render "comments/form" %>
</div>
