<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  		<title>prORT</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
                          <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
                          <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

                          <% if logged_in? %>
                            <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
                                <header class="mdl-layout__header mdl-layout__header--waterfall">
                                <div class="mdl-layout__header-row">
                                    <span class="mdl-layout-title">prORT</span>
                                    <div class="mdl-layout-spacer"></div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                                        <i class="material-icons">search</i>
                                    </label>

                                    <div class="mdl-textfield__expandable-holder">
                                      <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
                                    </div>
                              </div>
                            </div>
                            <div class="mdl-layout__header-row">
                                <div class="mdl-layout-spacer"></div>
                                    <nav class="mdl-navigation">
                                        <%= link_to  "Home", root_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Novo post", new_post_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Todos os posts", posts_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Perfil", current_user, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Logout", logout_path, method: "delete",  class: "mdl-navigation__link grande mdl-color-text--white" %>
                                    </nav>
                                </div>
                            </header>
                            <div class="mdl-layout__drawer">
                            <span class="mdl-layout-title">prORT</span>
                            <nav class="mdl-navigation">
                              <%= link_to  "Home", root_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                              <%= link_to  "Novo post", new_post_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                              <%= link_to  "todos os posts", posts_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                              <%= link_to  "Perfil", current_user, class: "mdl-navigation__link grande mdl-color-text--white" %>
                              <%= link_to  "Logout", logout_path, method: "delete",  class: "mdl-navigation__link grande mdl-color-text--white" %>
                            </nav>
                            </div>

                          <% else %>
                              <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
                                <header class="mdl-layout__header mdl-layout__header--waterfall">
                                <div class="mdl-layout__header-row">
                                    <span class="mdl-layout-title">prORT</span>
                                    <div class="mdl-layout-spacer"></div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                                        <i class="material-icons">search</i>
                                    </label>

                                    <div class="mdl-textfield__expandable-holder">
                                      <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
                                    </div>
                              </div>
                            </div>
                            <div class="mdl-layout__header-row">
                                <div class="mdl-layout-spacer"></div>
                                    <nav class="mdl-navigation">
                                        <%= link_to  "Home", root_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Cadastrar", new_user_path, class: "mdl-navigation__link grande mdl-color-text--white" %>
                                        <%= link_to  "Logar", login_path, class: "mdl-navigation__link grande mdl-color-text--white" %>

                                    </nav>
                                </div>
                            </header>
                            <div class="mdl-layout__drawer">
                            <span class="mdl-layout-title">prORT</span>
                            <nav class="mdl-navigation">
                              <%= link_to  "Home", root_path, class: "mdl-navigation__link grande mdl-color-text--black" %>
                              <%= link_to  "Cadastrar", new_user_path, class: "mdl-navigation__link grande mdl-color-text--black" %>
                              <%= link_to  "Logar", login_path, class: "mdl-navigation__link grande mdl-color-text--black" %>
                            </nav>
                            </div>

                          <% end %>

                            <main class="mdl-layout__content">
                            <div class="page-content"><%= yield %></div>
                            </main>
                            <footer class="mdl-mini-footer mdl-color--grey-750">
                              <div class="mdl-mini-footer__left-section">
                                <div class="mdl-logo">prORT</div>
                                <ul class="mdl-mini-footer__link-list">
                                  <li><a href="#">Contato</a></li>
                                  <li><a href="#">Termos de compromisso</a></li>
                                </ul>
                              </div>
                            </footer>
                            </div>
	</body>
</html>